body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

#board {
    width: 100%;
    height: 600px;
    position: relative;
}

#player{
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 300px;
    left: 50px;
}

#player img{
    width: 100%;
    height: 100%;
}

#cactus {
    position: absolute;
    width: 55px;
    height: 80px;
    bottom: 300px;
    right: 0;
    animation: cactusMovement 2s linear infinite;
}

#cactus img {
    max-width: 100%;
    height: 100%;
}

#background{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("./images/background_dino.png");
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto 100%;
    animation: backgroundMove 5s linear infinite;
}

.playerJump{
    animation: playerJump 1s linear;
}

@keyframes playerJump {
    0% {
        bottom: 300px;
    }

    45%, 55%{
        bottom: 450px;
    }
}

@keyframes backgroundMove {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -1000px 0;
    }
}

@keyframes cactusMovement {
    0% {
        right: 0%;
    }

    100% {
        right: 100%;
    }
}

#scoreContainer {
    text-align-last: center;
    font-size: 40px;
    margin-top: 20px;
}

.button.play {
    border-style: solid;
    border-width: 37px 0 37px 60px;
}

.button {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 74px;
    border-color: transparent transparent transparent #202020;
    transition: 1000ms all ease;
    cursor: pointer;
    border-style: double;
    border-width: 0px 0 0px 60px;
}

.button:hover{
    border-color: transparent transparent transparent #404040;
}

.menu {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 400px;
    left: 320px;
}